version: "3.8"

services:
  backend:
    build: ./server
    container_name: naturify-backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      - mongodb
    networks:
      - naturify-network

  frontend:
    build: ./client
    container_name: naturify-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - naturify-network

  mongodb:
    image: mongo:6
    container_name: naturify-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo-data:/data/db
    networks:
      - naturify-network

networks:
  naturify-network:
    driver: bridge

volumes:
  mongo-data:
